<!DOCTYPE HTML>
<html ng-app="chatroom">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">
    <div class="main-container">
      <div class="card-header"></div>
        <div class="card-info">
          <div class="card-mug"></div>
          <h1> DevMountain Chat Room </h1>
          <h2>A simple parse powered not-so-private chat</h2>
          <h3>By Erin Y</h3>

          <form ng-submit="postMessage(message)">
            <input class="form-control text-box" type="text" ng-model="message" placeholder="Compose Message">
          </form>
          <div class="panel panel-default">
          <div class="panel-heading">Messages from DevMountaineers</div>
          <div class="messages-container">
            <p ng-repeat="message in messages"> {{message.message}} {{message.createdAt | date:"medium"}}</p></div>
          </div>
        </div>
    </div>


    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/messageService.js"></script>


  </body>
</html>
