* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

div {
  display: block;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0px 5px gray;
}

.main-container h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #999;
}

.main-container h2 {
  text-align: center;
  color: #999;
  font-size: 18px;
  font-weight: normal;
}

.main-container h3 {
  text-align: center;
  color: #999;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px 0 10px 0;
}

.main-container h1 .main-container h2
.main-container h3 {
  text-align: center;
  margin: 5px 0;
  font-family:  "Raleway", Helvetica Neue, Helvetica, Arial, Sans Serif;
  color: #999;
}

.card-header {
  height: 200px;
  margin: -20px -20px 0px -20px;
  box-shadow: inset 0 -100px 100px -100px gray;
  background: url(https://devmounta.in/img/classroom-blurred.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-mug {
  width: 150px;
  height: 150px;
  background: url(https://devmounta.in/img/badge.png) center no-repeat;
  background-size: 50%;
  background-color: white;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: -75px;
  box-shadow: 0 -5px 10px -5px gray;
  border-radius: 75px;
}

form {
  display: block;
  margin-top: 0em;
  margin-bottom: 15px;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: left;
  margin: 3px 0 0 5px;
  font-size: 17px;
  border-radius: 4px;
}

.panel {
  width: 75%;
  margin: 20px auto;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.panel-default {
  border-color: #ddd;
}

.panel-heading {
  text-align: center;
  color: black;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.messages-container {
  border-bottom: 1px;
}
